{% extends "base.html" %}

{% block title %}
-Code Input

{% endblock title %}
 

{% block content %}

<style>
    .code_box{
        min-height: calc({{ num_lines }}em * 1.5 + 2 * 1em);
        min-width: calc({{ max_chars }}ch + 4 * 2em);
    }
</style>

<form>
    <textarea class="code_box" name="code" placeholder="Paste Your Code Here">{{ code }}
    </textarea>


<div class="button">
    <button class="reset" formmethod="post" formaction="{{url_for("reset_session") }}">
        Reset Session
    </button>
    <button class="save_code" formmethod="post" formaction="{{url_for("save_code") }}">
        Save Code
    </button>
</div>
</form>

{% endblock content %}